@import "normalize";
@import "variables";

body {
  font-family: "Mukta", sans-serif;
  font-size: 1.4em;
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #111;
  color: #eee;
}

.table {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.is-black {
  color: $black;
}
.is-red {
  color: $red;
}
.filter-red {
  filter: $red-filter;
}
.filter-black {
  filter: $black-filter;
}

#dealerScore,
#playerScore {
  text-align: center;
}

.card-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 0.7em;
}
