$red: #ff4136;
$red-filter: brightness(0) saturate(100%) invert(45%) sepia(39%) saturate(5557%)
  hue-rotate(338deg) brightness(98%) contrast(105%);

$black: #111111;
$black-filter: brightness(0) saturate(100%) invert(0%) sepia(91%)
  saturate(1859%) hue-rotate(51deg) brightness(106%) contrast(87%);
